<!DOCTYPE html>
<html>
  <head>
    <title>Autolog - Login</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "variables", "base", "authentication", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="auth-layout">
    <%= render "shared/flash" if flash.any? %>
    
    <div class="auth-container">
      <%= yield %>
    </div>
  </body>
</html>
